{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Edgar Search Tool</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
</head>

<body>
<div class="container">
	<section class="top input">
		<div class="row">
			<div class="col-md-4">
				<h2>Edgar Search</h2>
				<form action="." method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Search"></input>
				</form>
			</div>
			<div class="col-md-4">
				<h2>CIK Lookup</h2>
				<form action="/search/company/" method="POST" class="ajax">
					{% csrf_token %}
					{{ company_search_form.as_p }}
					<input type="submit" value="Search"></input>
				</form>
			</div>
			<div class="col-md-4 cik-results">
			</div>
		</div>
	</section>
	{% if resp %}
	<hr />
	<section class="results">
		<div class="row">
		<div class="col-md-6">
			<table>
			<thead>
				<tr>
					<th>Filing</th>
					<th>Filing Date</th>
					<th>Item #</th>
					<th>Description</th>
					<th>Content</th>
				</tr>
			</thead>
			<tbody>
				{% for i in resp %}
				<tr>
					<td>{{ i.filing }}</td>
					<td>{{ i.filing_date }}</td>
					<td>{{ i.item_no }}</td>
					<td>{{ i.item_desc }}</td>
					<td>
						<a href="#" data-link="{{ i.content }}" class="content-display">Show</a>
<!-- 						<a href="#" class="content-display">Show</a>
						<div style="display: none;" class="content-item">
							{{ i.content }}
						</div> -->
					</td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
		</div>
		<div class="col-md-6 right-col">
		</div>
		</div>
	</section>
	{% endif %}
</div>
<script type="text/javascript">
$('a.content-display').click( function (e) {
	e.preventDefault();
	var link = $(this).data("link");
	if (link) {
	  $.ajax({
	    url: '/sec?url=' + link,
	    type: 'POST',
	    success: function (response) {
	      var content = response.html;
	    },
	    error: function (xhr, textStatus) {
	      var content = xhr.responseText;
	    }
	  });
	} else {
		var content = $(this).parents('td').find('.content-item').html();
	}
	var $rightCol = $('.right-col');
	console.log(content);
	// got the html, just need to display it
	$rightCol.html(content); 
});

$(document).on('submit', 'form.ajax', function (e) {
  var $form = $(this);

  // refactor to support save and test email buttons
  var button = $(this).find('input[type=submit]:focus');
  var button_text = button.text();

  $form.find('.messages').remove();
  e.preventDefault();

  $.ajax({
    url: $form.attr('action'),
    type: $form.attr('method'),
    data: $form.serialize(),
    success: function (response) {
      $('.cik-results').html(response.html);
    },
    error: function (xhr, textStatus) {
      $('.cik-results').html(xhr.responseText);
    }
  });
});
</script>

</body>
</html>